<ion-header class="no-border">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="./view/home" text=""></ion-back-button>
    </ion-buttons> 
    <ion-title>MÚSICA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content" >

  <ion-item>
    <ion-toggle (ionChange)="habilitar()">Habilitar Edição</ion-toggle>
  </ion-item>

  <form [formGroup]="formEditar" (ngSubmit)="submitForm()">
    <app-music-form [musica]="musica" (formSubmit)="updateMusica()"></app-music-form>


      <ion-item *ngIf="musica.downloadURL != null" class="custom-image">
        <div class="center-container">
          <img src="{{musica.downloadURL}}" class="custom-image" style="width: 100px; height: 100px;" />
        </div>
      </ion-item>
      
      
      <ion-button size="default" color="#ffffff;" shape="round" [class.custom-file-button]="musica.downloadURL != null" [class.custom-file-button-semImagem]="musica.downloadURL == null" disabled="{{edicao}}">
        <input type="file" (change)="uploadFile($event.target)" class="custom-file-input"/>
        Escolher arquivo
      </ion-button>

      <span class="error-message" *ngIf="formEditar.get('nome')?.touched && formEditar.get('nome')?.errors?.['required']">Nome é Obrigatório</span> 
      <span class="error-message" *ngIf="formEditar.get('banda')?.touched && formEditar.get('banda')?.errors?.['required']">Banda é Obrigatória</span> 
      <span class="error-message" *ngIf="(formEditar.get('anoLancamento')?.touched && formEditar.get('anoLancamento')?.errors?.['required']) || (formEditar.get('anoLancamento')?.dirty && formEditar.get('anoLancamento')?.errors?.['max'])">
        {{ formEditar.get('anoLancamento')?.errors?.['required'] ? 'Ano de Lançamento é Obrigatório' : 'Ano de Lançamento precisa ser até o ano 2024' }}
      </span> 
      <span class="error-message" *ngIf="formEditar.get('album')?.touched && formEditar.get('album')?.errors?.['required']">Álbum é Obrigatório</span> 
      <span class="error-message" *ngIf="formEditar.get('genero')?.touched && formEditar.get('genero')?.errors?.['required']">Gênero é Obrigatório</span> 
  </form>

    <ion-button expand="block" (click)="editar()" disabled="{{edicao}}" [class.button-com-imagem]="musica.downloadURL != null" [class.button-sem-imagem]="musica.downloadURL == null">Salvar</ion-button>
    <ion-button expand="block" (click)="excluir()" disabled="{{edicao}}" color="danger" style="--margin-top: 45px;">Excluir</ion-button>
    
  

</ion-content>