<ion-header class="no-border">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="./view/home" text=""></ion-back-button>
    </ion-buttons> 
    <ion-title>CADASTRO MÚSICA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">

  <form [formGroup]="formCadastrar" (ngSubmit)="submitForm()">
    
    <app-music-form></app-music-form>
      <ion-button size="default" color="#ffffff;" shape="round" class="custom-file-button">
        <input type="file" (change)="uploadFile($event.target)" class="custom-file-input"/>
        Escolher Imagem
      </ion-button>

      <ion-button size="default" color="#ffffff;" shape="round" class="custom-file-button">
        <input type="file" (change)="uploadSound($event.target)" class="custom-file-input"/>
          Escolher Áudio
      </ion-button>

      <span class="error-message-primeiro" *ngIf="formCadastrar.get('nome')?.touched && formCadastrar.get('nome')?.errors?.['required']">Nome é Obrigatório</span> 
      <span class="error-message" *ngIf="formCadastrar.get('banda')?.touched && formCadastrar.get('banda')?.errors?.['required']">Banda é Obrigatória</span> 
      <span class="error-message" *ngIf="(formCadastrar.get('anoLancamento')?.touched && 
        (formCadastrar.get('anoLancamento')?.errors?.['required'] || 
        formCadastrar.get('anoLancamento')?.errors?.['max'] ||
        formCadastrar.get('anoLancamento')?.errors?.['min']))">

        {{ formCadastrar.get('anoLancamento')?.errors?.['required'] ? 'Ano de Lançamento é Obrigatório' :
          formCadastrar.get('anoLancamento')?.errors?.['max'] ? 'Ano de Lançamento precisa ser até o ano 2024' :
          formCadastrar.get('anoLancamento')?.errors?.['min'] ? 'Ano de Lançamento precisa ser superior a 1499' : ''
        }}

      </span>
      <span class="error-message" *ngIf="formCadastrar.get('album')?.touched && formCadastrar.get('album')?.errors?.['required']">Álbum é Obrigatório</span> 
      <span class="error-message" *ngIf="formCadastrar.get('genero')?.touched && formCadastrar.get('genero')?.errors?.['required']">Gênero é Obrigatório</span> 

    <ion-button expand="block" (click)="cadastrar()" style="margin-top: 15px;">Cadastrar</ion-button>
  </form>
</ion-content>